<footer>
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ducimus
        eum obcaecati maxime at, vel nostrum aliquam natus eligendi odit maiores
        id ea. Cupiditate, iusto! Corporis dolor amet asperiores libero!
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
        <li><i class="fa-solid fa-phone"></i> +55 (00) 00000-0000</li>
        <li>
          <i class="fa-brands fa-square-whatsapp"></i> +55 (00) 00000-0000
        </li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados.
  </section>
</footer>
